/** CSS STYLE **/
:root {
  /** Colors **/
  --white: #fff;
  --white50: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-hover: #EA7600;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

* {
	margin: 0;
	padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
}

h1, h2, h3, .fs-24, .fs-34 {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
} 

h3 {
  font-size: 34px;
}

.fs-34 {
  font-size: 34px;
}

.fs-24 {
  font-size: 24px;
}

.fs-18 {
  font-size: 18px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

h5 {
  font-size: 14px;
}

.z1 {
  position: relative;
  z-index: 1;
}

.background {
  position: relative;
  overflow: hidden;
}

.background-2 {
  background-color: var(--white);
}

.bg-basic-dark {
  background-color: var(--basic-dark);
}

.column-break {
  break-before: column;
}

.color-basic {
  color: var(--basic);
}

.color-white {
  color: var(--white);
}

.color-white50 {
  color: var(--white50);
}

.color-dark50 {
  color: var(--dark50);
}

.bg-light {
  background-color: var(--light);
}

.bg-brown {
  background-color: var(--brown);
}

.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;
} 

.container {
  position: relative;
  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
} 

.container-non-bottom {
  padding-bottom: 0;
}

.columns-2 {
  position: relative;
  column-count: 2;
  column-gap: 30px;
} 

.main-logo {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 45px;

  text-transform: uppercase;
  text-decoration: none;

  font-size: 16px;
  color: var(--white);
  font-weight: bold;
  border: 0;
  background-color: var(--basic);
}

.btn:hover {
  background-color: var(--basic-hover);
}

.aline-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}

.mt-13 {
  margin-top: 13px;
}

.pt-200 {
  padding-top: 200px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-200 {
  margin-top: 200px;
}

.video {
  display: block;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  margin: 0 auto;

  z-index: 2;
}

#navigation {
  margin-top: -100px;
}

.shawdow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

#navigation .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.card-h {
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
}

.card-h > p {
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
  font-size: 52px;
  margin: 0;
}

.card {
  display: block;
  padding: 24px;
  background-color: var(--light);
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.card:hover,
.card:hover h3 {
  background-color: var(--basic);
  color: var(--white);
}

.card > p {
  margin: 16px 0 0;
}

.number {
  font-family: Neucha, sans-serif;
  font-size: 64px;
  padding-bottom: 40px;
  line-height: 1;
}

.flex {
  display: flex;
  gap: 30px;
}

.title {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0 10px;

  text-transform: uppercase;
}

.title-bg-brown {
  background-color: var(--brown);
  color: var(--white);
}

.title-bg-white {
  background-color: var(--white);
  color: var(--brown);
}

.div-img {
  vertical-align: middle;
}

.feedback {
  align-items: center;
  justify-content: space-around;

  padding: 55px;
  margin-bottom: 60px;
}

.feedback > div {
  flex: 1 1;
}

.feedback-container {
  display: flex;
  width: 100%;
  margin: 9px 0 0;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;

  overflow: hidden;

  white-space: nowrap;

  border: 0;
}

.feedback-input {
  flex-grow: 1;
  height: 50px;
  padding: 15px;
  border: none;
  box-sizing: border-box;
}

.feedback-input:focus {
  outline-style: none;
}

.feedback-button {
  width: 70px;
  height: 50px;
  background-color: var(--basic);
  color: white;
  border: none;
  cursor: pointer;
}

.feedback-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  background-image: url('../assets/send.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-button:hover {
  background-color: var(--basic-hover);
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
